*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}
body{
    height: 100vh;
    width: 100%;
    background-image: none;
    background-color:#2A2438;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  border-radius: 0;
  z-index: 100;
  transition: all 0.5s ease;
  background-color: #df18189a;
  backdrop-filter: blur(100px);
}
.sidebar.close{
  width: 780px;
  border-radius: 0;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  background-color: #2c2c2c9a;
  border-radius:0;
  font-size: 40px;
  font-weight: 900;
  color: aliceblue;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: 1s;
}
.sidebar.close .logo-details i{
  background-color: #2c2c2c9a;
  backdrop-filter: blur(100px);
  border-radius: 0 100px 100px 0;
}

.sidebar .logo-details .logo_name{
  font-size: 22px;
  font-family: sans-serif;
  color: #fff;
  font-weight: 900;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: hidden;
}
.sidebar.close .nav-links{
  display: none;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #5C5470;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  cursor: pointer;
  transition: all 1s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  transition: all 1s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #c41d79;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 1s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 106px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}

.home-section{
  position: relative;
  background: #2A2438;
  height: 100vh;
  left: 0px;
  width: calc(100% - 0px);
  transition: 0.5s;

}
.sidebar.close ~ .home-section{
  left: 0px;
  width: 100%;
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}

.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}

.home-panel{
  background-image: url(img/pexels-miriam-espacio-2694037.jpg);
  background-repeat: round;
  width: 100%;
  height: 35em;
  padding-top:250px;
  display: flex;
}
.box-home{
    padding: 5% 5% 5% 5% ;
    margin-top: 250px;
    width: 100%;
    height: 21.7em;
    display: flex;
}
.box-home-content{

    width: 100%;
    padding-top: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
div.cards{
  display: flex;
  flex-direction: row;
  padding: 32px;   
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #DBD8E3;
  padding: 1rem 3.5rem;
  border-radius: 8px;
  max-height: 256px;
  margin-left: 32px;
} 
.card:first-child{
  margin-left:0;
}
.card button{
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size:70%;
  margin-top: 1rem;
  color: white;
}
.btn-live button{
  background: linear-gradient(to right, #9F66FF, #626A71);
}
.btn-agenda button{
  background: linear-gradient(to right, #3CCBF4, #0665B6);
}
.btn-conteudo button{
  background:linear-gradient(to right, #2AB2EA, #FECC40);
}
.btn-live{
  box-shadow: 20px 20px 50px -30px #9F66FF;
}
.btn-agenda{
  box-shadow: 20px 20px 50px -30px#3CCBF4 ;
}
.btn-conteudo{
  box-shadow: 20px 20px 50px -30px #FECC40;
}
.card span{
  margin-top: 1rem;
}
.icon{
  width: 64px;
  height: 64px;
}
.card h3{
  margin: 10px 0;
}
.card span{
  font-weight: 300;
  max-width: 240px;
  font-size: 90%;
  margin-bottom: 10px;
}

.icon img{
  width: 100%;
}

.mybtn1 li, .mybtn2 li{
  color: #DBD8E3;
  margin-left: 60%;
}

footer{
background-color: rgba(0, 0, 0, 0.267);
backdrop-filter: blur(22px);
height: 20vh;
display: flex;
flex-direction: row;
color: aliceblue;
}

.footer-box{
margin: 2% 40% 0% 0;
padding: 2% 0 2% 10%; 
display: flex;
flex-direction: row;
}
.mybtn1, .mybtn2{ 
width: 30rem;
}
.footer-box li{
float: left;
margin-left: 15rem;
list-style: none;
}
.link-footer{
color: aliceblue;
}

.modal {
display: none; 
position: fixed; 
z-index: 10; 
top: -25rem;
border-radius: 30px;
text-align: center;
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: #ffffff;
color: black;
margin: 0 0 10% 15%; ; 
padding: 5% 5% 5% 5%;
border: 1px solid #888;
border-radius: 30px;
width: 50%;
}
#myModal1{
position: fixed;
top: -30rem;
}   
#myModal2{
margin: 0;
position: fixed;
top: -30rem;
right: 23.5rem;
}

.close {
color: rgb(221, 17, 17);
margin-bottom: 5%;
width: 20%;
float: inline-start;
font-size: 35px;
font-weight: bold;
border-radius: 100px;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

@media (max-width: 479px){
.home-panel{
  display: none;
  background-image: none;
  background-color: rgba(137, 43, 226, 0.199);
  width: 100%;
  height: 18em;
  padding-top:250px;
  display: flex;
}
.home-section{
  height: 80vh;
}
div.cards{
  display: flex;
  flex-direction: column;
  padding: 32px;  
  margin-top: 10rem; 
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #DBD8E3;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  max-height: 256px;
  margin-left: 0px;
  margin-top: 24px;
  width: 100%;
} 
.footer-box{
  margin: 2% 40% 0 0;
  padding: 2% 0 0 5%; 
  width: 100vw;
}
.footer-box li{
  float: left;
  margin-left: 0;
  list-style: none;
}
footer{
  height: 20vh;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30rem;
}

#myModal1{
  position: fixed;
  top: -30rem;
}   
#myModal2{
  margin: 0;
  position: fixed;
  top: -30rem;
  right: 23.5rem;
}

}
