*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: thistle;
}
div.box-menu{
    background-color:#202020;
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 78px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

div.box-menu-btn{
    margin-top:10px ;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
div.box-menu-btn img{
    width: 30px;
    height: 30px;
}

div.box-menu-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    height: 30%;
    margin-top: 20px;
}
div.icon1 img, div.icon2 img, div.icon3 img{
    width: 30px;
    height: 30px;
}
div.icon1 img, div.icon2 img, div.icon3 img{
    cursor: pointer; 
    margin-bottom: 10px;
}
div.icon1, div.icon2, div.icon3{  
    width: 100%;
    display: flex;
    padding-top: 5px;
    transition: 0.5s;
    justify-content: center;
    margin-bottom: 10px;
}
div.icon1:hover, div.icon2:hover, div.icon3:hover{
    background-color:rgb(87, 0, 168);
    padding: 20px;
    margin-left: 10px;
}
main.live-section{
    background-color: #202020;
    height: 100vh;
    width: 100%;
    padding-left: 78px;
}
div.live-section-one{
    height: 75vh;
    display: flex;
    flex-direction: column;
}
div.live-section-content{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
}
div.video{
    width: 70%;
    height: 75vh;
    display: flex;
    flex-direction: column;
}
div.chat{
    display: flex;
    width: 28.5%;
    height: 75vh;
    position: absolute;
    right: 0;
    background-color: blueviolet;
}
div.chat-content{
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
}
div.chat-section-one{
    background-color:#202020;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    border: 1px solid white;
    border-radius: 5px 5px 0 0;
    text-align: center;
}
#firsth1{
    color: blueviolet;
}
div.chat-section-one p{
    width: 70%;
    text-align: center;
    margin-top: 5rem;
}
div.live-box3{
    background-color: blueviolet;
    display: flex;
    width: 29%;
    padding: 1rem 2rem;
    margin: 1rem 1rem 1rem 0;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}
div.chat-perguntas{
    width: 100%;
    height: 10%;
}
div.chat-perguntas input[type=text]{
    height: 100%;
    width: 100%;
    border: 0 none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 0 0;
}
div.btn-perguntas{
    height: 10%;
    width: 100%;
}
div.btn-perguntas input[type=submit]{
    background-color: rgb(118, 0, 228);
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    border: 1px solid white;
    outline: 0;
    color: white;
    font-weight: 900;
}
div.btn-perguntas input[type=submit]:hover{
    background-color: rgb(87, 0, 168);
}

div.live-section-apps{
    background-color: mediumturquoise;
}
div.live-section-two{
    height: 25vh;
    display: flex;
    flex-direction: row;

}
div.live-desc{
    background:#303030;
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 5px;
}
div.btns-live{
    background-color: #303030;
    color: white;
    width: 17.6%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    margin: 1rem 1rem 1rem 0;
    border-radius: 5px;
    justify-content: center;
}
div.btns-live button{
   background-color: blueviolet;
   color: white;
   text-align: center;
   margin-bottom: 0.5rem;
   border-radius: 5px;
   padding: 0.2rem 2rem;
   cursor: pointer;
   border: 0 none;
   outline: 0;
}

div.live-desc h3{
    margin-bottom: 0.5rem;
    color: blueviolet;
}
div.live-section-two-content{
    width: 100%;
    display: flex;
    flex-direction: row;

}
div.live-section-two input[type="text"]{
    width: 80%;
    height: 30%;
    padding: 0 2rem;
    border: 0 none;
    outline: 0;
    background: #e7e7e7;
    color: black;
}
div.live-section-two input[type="submit"]{
    width: 20%;
    height: 30%;
    cursor: pointer;
    border: 0 none;
    background: #016068;
    color: aliceblue;
    font-weight: 700;
    font-size: 20;
}
div.live-section-two input[type="submit"]:hover{
    background: #01454b ;
}
footer{
    background-color: #303030;
    height: 20vh;
    display: flex;
    flex-direction: row;
    color: aliceblue;
    }
    
    .footer-box{
    margin: 2% 40% 0% 0;
    padding: 2% 0 2% 10%; 
    display: flex;
    flex-direction: row;
    }
    .mybtn1, .mybtn2{ 
    width: 30rem;
    }
    .footer-box li{
    float: left;
    margin-left: 15rem;
    list-style: none;
    }
    .link-footer{
    color: aliceblue;
    }
    
    .modal {
    display: none; 
    position: fixed; 
    z-index: 10; 
    top: -25rem;
    border-radius: 30px;
    text-align: center;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: #ffffff;
    color: black;
    margin: 0 0 10% 15%; ; 
    padding: 5% 5% 5% 5%;
    border: 1px solid #888;
    border-radius: 30px;
    width: 50%;
    }
    #myModal1{
    position: fixed;
    top: -30rem;
    }   
    #myModal2{
    margin: 0;
    position: fixed;
    top: -30rem;
    right: 23.5rem;
    }
    
    .close {
    color: rgb(221, 17, 17);
    margin-bottom: 5%;
    width: 20%;
    float: inline-start;
    font-size: 35px;
    font-weight: bold;
    border-radius: 100px;
    }
    
    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }

    @media (max-width: 479px){
        div.box-menu{
            background-color: #202020;
            height: 7vh;
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
        }
        div.box-menu-btn{
            margin: 1rem;
        }
        div.box-menu-content{
            flex-direction: row;
            margin: 0 0 1.5rem 2.5rem;
            align-items: baseline;
        }
        div.icon1, .icon2, .icon3{
            margin: 0 0 0 3rem;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        div.icon1:hover, div.icon2:hover, div.icon3:hover{
            padding: 0;
            margin-left: 0;
        }
        main.live-section{
            height: 100vh;
            width: 100%;
            padding-top: 7vh;
            padding-left: 0;
        }
        div.live-section-content{
            display: flex;
            flex-direction: column;
            width: 100vw;
        }
        div.live-section-one{
            height: 35vh;
        }
        div.video{
            width: 100%;
            height: 25vh;
            display: flex;
            flex-direction: column;
        }
        div.chat{
            display: flex;
            width: 100%;
            height: 9vh;
            position:relative;
            justify-content: center;
            align-items: center;
        }
        div.chat-perguntas{
            width: 100%;
        }
        div.chat-content{
            width: 100%;
            margin: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        div.chat-section-one{
            display: none;
        }
        div.live-section-two{
            flex-direction: column;
            padding: 1rem;
        }
        div.live-section-two-content{
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        div.live-desc{
            width: 100%;
            margin: 0;
        }
        div.btns-live{
            width: 100%;
        }
        div.live-box3{
            width: 100%;
            margin-top: 0;
        }
        footer{
            display: flex;
            flex-direction: column;
            height: 10vh;
            justify-content: center;
        }
        #myBtn1, #myBtn2{
            margin: 0;
        }
        div.footer-box{
            margin: 0; 
        }
    }