*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: thistle;
}
div.box-menu{
    background-color:#202020;
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 78px;
    display: flex;
    flex-direction: column;
}
div.box-menu-btn{
    margin-top:10px ;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
div.box-menu-btn img{
    width: 30px;
    height: 30px;
}

div.box-menu-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    height: 30%;
    margin-top: 20px;
}
div.icon1 img, div.icon2 img, div.icon3 img{
    width: 30px;
    height: 30px;
}
div.icon1 img, div.icon2 img, div.icon3 img{
    cursor: pointer; 
    margin-bottom: 10px;
}
div.icon1, div.icon2, div.icon3{  
    width: 100%;
    display: flex;
    padding-top: 5px;
    transition: 0.5s;
    justify-content: center;
    margin-bottom: 10px;
}
div.icon1:hover, div.icon2:hover, div.icon3:hover{
    background-color: #454545;
}
main.live-section{
    background-color: #454545;
    height: 100vh;
    width: 100%;
    padding-left: 78px;
}
div.live-section-content{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
}
div.video{
    width: 70%;
    display: flex;
    flex-direction: column;
}
div.chat{
    display: flex;
    width: 30%;
}
.arena-chat{
    width: 100%;
    padding-bottom: 32.5%;
}